# Ignore common system and application data folders
/AppData/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/OneDrive/
/Pictures/
/Saved Games/
/Searches/
/Videos/
/VirtualBox VMs/

# Ignore files outside project scope
/ntuser.dat*
*.lnk
*.docx
*.pdf
*.jpg
*.png
*.zip
*.exe

# Ignore IDE-specific files
.idea/
.vscode/
