# Ignore system folders
*.log
*.bak
*.tmp

# Ignore Windows-specific folders and files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore all files in system folders
AppData/
Documents/
Downloads/
Cookies/
Favorites/
My Music/
My Pictures/
My Videos/

# Ignore virtual environments
.vscode/
.idea/
*.env
